.c-courses-card-list__course-card {
    margin: 20px 10px;
}

.c-courses-card-list__course-actions {
  display: flex;
  justify-content: center;
}

.c-courses-card-list__course-actions--button {
  margin-right: 5px;
}
